:import {
    -st-from: "../stars-rating/stars-rating.st.css";
    -st-default: StarsRating;
}

.root
{
    font-family: 'Prompt', sans-serif;
}

.productImage
{
    width: 100%;
    margin-bottom: 20px;
    transition: all 0.2s;
}

.productImage:hover
{
    transform: scale(1.1);
}

.bannerNew
{
    position: absolute;
    top: 10px;
    right: 10px;

    width: 69px;
    height: 30px;
    border-radius: 2px;
    background-color: #000000;
    line-height: 1;
    font-size: 12px;
    letter-spacing: 1.71px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}

.sectionMain
{
    background: white;
    margin-bottom: 15px;
}

.addToCartButton
{
    -st-states: isAddedToCart;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    transition: all 0.2s;
}

.addToCartButton:not(isAddedToCart)
{
    color: #000;
    border: 1px solid #000;
}

.addToCartButton:isAddedToCart
{
    background: #000;
    color: #fff;
}

.addToCartButton:not(isAddedToCart):hover
{
    background: #000;
    color: #fff;
    transition: all 0.2s;
}

.addToCartButton:isAddedToCart:hover
{
    background: rgba(0,0,0,0.7);
}

.title
{
    font-family: Caudex, serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 31px;
    letter-spacing: normal;
    color: #000000;
    transition: all 0.2s;
    text-decoration: none;
}

.priceLabel {
    width: 100px;
    text-align: right;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 31px;
    letter-spacing: normal;
    color: #000000;
}

.modelName
{
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #000000;
    margin-top: 6px;
}

.rating
{
    margin-top: 10px;
}

.starsRating
{
    -st-extends: StarsRating;
    font-size: 12px;
}

.reviewsCount
{
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    margin-top: 5px;
}


/** Mobile */
@media only screen and (max-width: 750px) {
    .title {
        font-size: 22px;
    }

    .modelName
    {
        font-size: 14px;
    }

    .priceLabel {
        font-size: 16px;
    }

    .reviewsCount {
        font-size: 10px;
    }

    .addToCartButton {
        height: 42px;
    }

    .productImage {
        height: 335px;
    }
}

/** Desktop */
@media only screen and (min-width: 750px) {
    .title {
        font-size: 24px;
    }

    .title:hover
    {
        transform: skewX(-8deg);
    }

    .modelName
    {
        font-size: 16px;
    }

    .priceLabel {
        font-size: 18px;
    }

    .reviewsCount {
        font-size: 12px;
    }

    .addToCartButton {
        height: 50px;
    }

    .productImage {
        height: 310px;
    }
}
