:import {
    -st-from: "../stars-rating/stars-rating.st.css";
    -st-default: StarsRating;
}

.root {
    font-family: 'Prompt', sans-serif;
}

.productImage {
    width: 100%;
    margin-bottom: 20px;
    transition: all 0.1s;
    font-size: 20px;
    line-height: 40px;
}

.productImage:hover {
    transform: scale(1.1);
}

.bannerNew {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 69px;
    height: 30px;
    border-radius: 0px;
    background-color: #000000;
    line-height: 1;
    font-size: 8px;
    letter-spacing: 1.71px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    background: blue;
}

.sectionMain {
    background: white;
    margin-bottom: 15px;
}

.addToCartButton {
    -st-states: isAddedToCart;
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    transition: all 0.2s;
    min-width: 100%;
    background: none;
}

.addToCartButton:not(isAddedToCart) {
    color: #000;
    border: 1px solid #000;
}

.addToCartButton:isAddedToCart {
    background: #000;
    color: #fff;
}

.addToCartButton:not(isAddedToCart):hover {
    background: #000;
    color: #fff;
    transition: all 0.2s;
}

.addToCartButton:isAddedToCart:hover {
    background: rgba(0, 0, 0, 0.7);
}

.title {
    font-family: Caudex, serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 31px;
    letter-spacing: 2px;
    color: #000000;
    transition: all 0.2s;
    text-decoration: none;
}

.priceLabel {
    width: 100px;
    text-align: right;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 31px;
    letter-spacing: normal;
    color: #000000;
}

.modelName {
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 24px;
    letter-spacing: normal;
    color: #000000;
    margin-top: 6px;
}

.rating {
    margin-top: 10px;
}

.starsRating {
    -st-extends: StarsRating;
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 0px;
    margin-top: 5px;
    padding-top: 0px;
}

.reviewsCount {
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #000000;
    margin-top: 5px;
}


/** Mobile */
@media only screen and (max-width: 750px) {
    .title {
        font-size: 22px;
    }

    .modelName {
        font-size: 14px;
    }

    .priceLabel {
        font-size: 16px;
    }

    .reviewsCount {
        font-size: 10px;
    }

    .addToCartButton {
        height: 42px;
    }

    .productImage {
        height: 335px;
    }
}

/** Desktop */
@media only screen and (min-width: 750px) {
    .title {
        font-size: 24px;
    }

    .title:hover {
        transform: skewX(-8deg);
    }

    .modelName {
        font-size: 16px;
    }

    .priceLabel {
        font-size: 18px;
    }

    .reviewsCount {
        font-size: 12px;
    }

    .addToCartButton {
        height: 50px;
    }

    .productImage {
        height: 310px;
    }
}

.productTitle {
    font-size: 20px;
    font-family: 'TradeGothicLTStdBold', sans-serif;
    font-weight: 700;
    height: 20px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 5px;
    height: 80px;
    height: 20px;

}

.productPrice {
    padding: 0px 5px 0px 5px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'TradeGothicLTStd', sans-serif;
    color: #b20000;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.productOrigPrice {
    padding: 0px 5px 0px 5px;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.5;
    font-family: 'TradeGothicLTStd', sans-serif;
    line-height: 20px;
    text-decoration: line-through;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer {

    max-height: 12%;

    height: 100px;
}

.main {

    height: 320px;
}